/* Webfonts
------------------------------------------------------------*/
@import url('http://fonts.googleapis.com/css?family=Lobster');
@import url('http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic');


/* Tipografia
------------------------------------------------------------*/
body { font: 100%/1.6 Cabin, sans-serif; color: #444; }


/* Links
------------------------------------------------------------*/
a {}
a:link {}
a:visited {}
a:active {}
a:hover {}


/* Textos
------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { font-family: Lobster, serif; font-weight: normal; line-height: 1.2; margin: 1em 0 .5em 0; color: #666; }
h3, h4, h5, h6 { font-family: Cabin, sans-serif; }
h1 { font-size: 3em; margin-top: 0; padding-bottom: .5em; color: #000; border-bottom: 1px solid #eee; }
h2 { font-size: 2em; color: #333; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

p { margin: 0 0 1.5em; }
blockquote { padding: 0 0 0 1em; margin: 0; font-size: 1.1em; line-height: 1.5; border-left: 5px solid #ddd; }
q { font-style: italic; }
q::before { content: open-quote; }
q::after { content: close-quote; }
cite { font-style: italic; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
small { font-size: .8em; }
del, s, strike { color: red; }
ins, u { color: green; }
mark { background-color: yellow; }
sub { vertical-align: sub; font-size: .7em; }
sup { vertical-align: super; font-size: .7em; }
abbr { border-bottom: 1px dotted #000; }
hr { margin: 2em 5em; border: none; border-bottom: 1px dashed #ccc; }


/* Imagens
------------------------------------------------------------*/
img.alignright,
figure.alignright { float: right; margin: 0 0 1em 1.5em; }
img.alignleft,
figure.alignleft { float: left; margin: 0 1.5em 1em 0; } 
figcaption { font-style: italic; font-size: .9em; text-align: center; border-bottom: 1px solid #eee; padding-bottom: .5em; }


/* Videos
------------------------------------------------------------*/
.video-16x9 { position: relative; }
.video-16x9::before { content: ""; display: block; position: relative; width: 100%; padding-top: 56.25%; } /* (height / width) * 100% */
.video-16x9 iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* Listas
------------------------------------------------------------*/
ul, ol { padding: 0 0 0 2em; margin: 0 0 2em 0; }
ul ul, ul ol, ol ul, ol ol { padding: 0 0 0 .5em; margin: .5em 0 0 .5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha; }
li { margin-bottom: .5em; }

dl { margin: 0 0 2em 0; }
dt { font-weight: bold; }
dd { margin-left: 2em; margin-bottom: 1em; }


/* Tabelas
------------------------------------------------------------*/
table { width: 100%; border: 1px solid #f1f1f1; }
caption { background-color: #f1f1f1; padding: .5em 1em; text-align: center; }
th {}
td { padding: .2em .5em; text-align: center; border: 1px solid #eee; }

thead th { padding: .5em 0; font-family: Lobster, serif; text-align: center; border: 1px solid #f1f1f1; }

tfoot td p { padding: .5em; text-align: left; font-size: .8em; line-height: 1.5; }
tfoot td p:last-child { margin-bottom: 0; }

tbody th { padding: .2em .5em; background-color: #f5f5f5; border: 1px solid #eee; }
tbody tr.impar td { }
tbody tr.par td { background-color: #f5f5f5; }


/* Texto sem formatação
------------------------------------------------------------*/
code,
tt,
kbd,
var,
samp { display: inline-block; padding: .2em .5em; font: .9em/1.3em "Courier New", Courier, mono; background-color: #f9f9f9; border: 1px solid #eee; border-radius: 5px; }
var { font-style: italic; }
pre { margin: 0 0 1.5em; word-wrap: break-word; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; }
pre > code { display: block; padding: 1em; }
