
body { background-color: #f9f9f9; }

/* Editor
------------------------------------------------------------*/
#editor,
form { font: 13px/18px Helvetica, Arial, sans-serif !important; }

#editor { position: fixed; top: 0; left: 0; width: 38%; padding: 1%; background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, .3); }

form textarea { width: 96%; padding: 2%; border: 1px solid #ccc; border-radius: 5px; background-color: #fff !important; color: #000 !important; font: normal 12px/14px 'Courier' !important; }
form input[type=text] { color: #000; padding: 5px; border: 1px solid #ccc; border-radius: 3px; }
form input[type=reset],
form input[type=button] { cursor: pointer; text-transform: uppercase; background-color: #333; color: #fff; padding: 5px 15px; border: none; border-radius: 3px; }
form input[type=button]:hover { background-color: #666; }
form input[type=reset] { background-color: #ccc; }
form .right { display: block; float: right; }

#editor ul { padding: 0 0 0 20px; margin: 20px 0 0 0; }
#editor ul li { padding: 0; margin: 0; }
#editor ul li.update { color: red; }

/* Texto
------------------------------------------------------------*/
#texto { float: right; width: 50%; padding: 3%; background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, .3); }

#texto.blueprint {
background-image: -webkit-linear-gradient(#ddd 2px, transparent 2px),
-webkit-linear-gradient(0deg, #ddd 2px, transparent 2px),
-webkit-linear-gradient(#eee 1px, transparent 1px),
-webkit-linear-gradient(0deg, #eee 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#texto.lineheight {
background-image: -webkit-linear-gradient(bottom, #fcc 1px, transparent 1px);
background-size: 100% 1em;
}